.submitButton{
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    border: solid;
    padding: 5px 5px 5px 5px;
}

.inputForm{
    display: block;
    width: 130px;
    border: solid #ced4da;
    border-width: 1px 1px 1px 1px;
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
}

.inputNewMember{
    width: 130px;
    border: solid #ced4da;
    border-width: 1px 1px 1px 1px;
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
    margin-left: 20px;
}

.divForm{
    display: block;
    width: 200px;
    border: solid darkgrey;
    border-width: 1px 1px 1px 1px;
    border-radius: 3px;
}

.divNewMember{
    display: block;
    width: 400px;
    border: solid darkgrey;
    border-width: 1px 1px 1px 1px;
    border-radius: 3px;
}

.divLogin{
    display: block;
    width: 200px;
    background-color: #E0E0E0;
    border-bottom: 1px solid darkgrey;
    padding: 5px 0px 5px 0px;
}

.divNewMember2{
    display: block;
    width: 400px;
    background-color: #E0E0E0;
    border-bottom: 1px solid darkgrey;
    padding: 5px 0px 5px 0px;
}

p{
    font-family: sans-serif;
    Font-Weight: Bold;
    color: #595959;
}

p.details{
    Font-Weight: Bolder;
    display: inline;
    color: black;
    width: 150px;
    text-align: right;
}

.inputDetails{
    display: inline;
    width: 130px;
    border: solid #ced4da;
    border-width: 1px 1px 1px 1px;
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
    position: absolute;
    left: 200px;
    width: 600px;
}

.hrBefore{
    border: solid gainsboro 3px;
}

.hrAfter{
    border: solid gainsboro 1px;
}